@font-face {
   font-family: '9099';
   src: url('9099/font.ttf');
}
@font-face {
   font-family: 'gnyrwn971';
   src: url('gnyrwn971/font.ttf');
}
@font-face {
   font-family: 'Gecko_PersonalUseOnly';
   src: url('Gecko_PersonalUseOnly/font.ttf');
}
